# Ignore IDEA folder
.idea/*

# Ignore Vendor Folder
vendor/*

# Ignore Docker logs
docker/log/docker.log

# Ignore Rendered documentation by phpdocumentor
docs/*

# Ignore HTML Coverage report
coverage/*
coverage.xml

# Ignore Composer files
composer.lock